html {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}
body {
  margin: 0;
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

div.co{
  padding: 0.01em 16px;
}

div.shad {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.white {
  color: #000 !important;
background-color: #fff !important;
}

h4,h1,h2 {
  font-weight: lighter;
  font-size: 30px;
  margin: 5px;
  font-family: "Economica", sans-serif !important;
}

h1 {
  font-weight: bold;
}

h3 {
  color: #cbaf7a;
}

h4 {
  color: #aaa;
  font-stretch: condensed;
  font-size: 14px;
}

img {
  outline-style: dashed;
  outline-color: #cba67a;
  outline-width: medium;

  float: left;
  width: 300px;
  height: auto;
  margin: 15px;
}
a, a:visited {
  color: black;
    outline: none !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

footer,
header{
  display: block;
}
header {
  padding-right: 40px;
}
footer {
  background-color: #fff !important;
  padding:10px;
  margin-top: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.d {
  width: 80%;
  background-color: #cba67a;
  padding: 2px;
}

.hypo {
  margin-left: 5%;
}


.co#header {
  outline-style: dashed;
  outline-color: #cba67a;
  outline-width: thin;
  position: fixed;
  margin: 10px;
  padding: 5px;
  z-index: 1;
  background-color: #fff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.particles-js-canvas-el {
  position: fixed;
  z-index: -2;
}


/* img:hover {
  width: 100%;
  height: auto;
  position: ;
  align-self: center;
} */

#end {
  margin-bottom: 20px;
}

#cite1, #cite2, #cite3, #cite4, #cite5, #cite6 {
  color: black;
  outline-style: dashed;
  outline-color: #cba67a;
  outline-width: thin;
  margin: 3px;
}
